<header class="page-header">
  <div class="header-content">
    <h1><%= link_to 'Pet Care', root_path, class: "pet-care" %></h1>
    <nav>
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          <li><%= link_to 'ペット登録', new_pet_path %></li>
          <li><%= link_to 'クリニック', clinics_path %></li>
          <li><%= link_to 'ショップ', "#" %></li>
          <li><%= link_to 'お問い合わせ', "#" %></li>
        <% else %>
          <li><%= link_to 'ログイン', new_user_session_path %></li>
          <li><%= link_to '新規登録', new_user_registration_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>